@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0% 15%;
  background-image: url('./assets/bg-images/bg-op-5.png');
  background-repeat: repeat;
}

/* Text utility styles */

.title {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  padding: .7rem 1rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 3rem;
}

.red {
  background: rgb(255, 80, 80);
  color: #fff;
}

.green {
  background: rgb(106, 187, 121);
  color: #fff;
}



